<h3>Orders for <%= @name %></h3>
<table class="table">
<tr>
  <th>Order Number</th>
  <th>Event Name</th>
  <th>Total Price</th>
  <th></th>
</tr>
<% @orders.each do |order| %>
<tr>
  <td><%= order['id'] %></td>
  <td><%= order['name'] %></td>
  <td><%= get_order_total(order['id']) %></td>
  <td><%= link_to "View Order", order_path(order['id']), :class => "btn-sm btn-primary" %></td>
</tr>
<% end %>
</table>