<div class=""><h3>All Orders by [<%= @event.date.to_date %>] <%= @event.name %> @ <%= @event.location %></h3></div>
<%= render "order_menu" %>
<% @orders.each do |order| %>
  <table class="table table-striped">
    <tr>
      <h3><%= get_user_name(order.user_id) %></h3>
      <ul>
        <li>Courier: <%= get_user_name order.courier_id %></li>
        <li>
            <% if order.courier_id != current_user.id %>
                <%= link_to "Assign Self as Handler", order_path(order.id, :courier_id => current_user.id), :method => :put, :class => "btn btn-sm btn-primary" %>
            <% else %>
               <%= link_to "Unassign Self as Handler", order_path(order.id, :courier_id => 0), :method => :put, :class => "btn btn-sm btn-primary" %>
            <% end  %>
            
          </li>
      </ul>
    </tr>
    <%= render "orders/item_header" %>
    <% order.orderitems.each do |orderitem| %>
      <%= render "orders/item", :orderitem => orderitem %>
    <% end %>
    <%= render "orders/order_total", :order_id => order.id, :order => order %>
  </table>
<% end %>