<h3>[<%= @event.date.to_date %>] <%= @event.name %> @ <%= @event.location %></h3>

<%= render "event_menu" %>
<%= form_for @order, :url => {:action => :create, :controller => :orders }, :html => {:class => 'form-inline'} do |f| %>
<%= hidden_field_tag :event_id, @event.id %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Item Name</th>
      <th>Item Description</th>
      <th class="col-numeric">Price (<%= @event.currency %>)</th>
      <th class="col-numeric">Quantity</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
  <% @items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.description %></td>
      <td class="col-numeric"><%= number_to_currency(item.price, unit: @event.cur_prefix, precision: @event.cur_precision ) %></td>
      <td class="col-numeric"><%= number_field_tag "order[#{item.id}][quantity]", 0, :min => 0, :class => "form-control" %></td>
      <td><%= text_field_tag "order[#{item.id}][notes]", nil, class: "form-control" %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<div style="text-align:right">
  <%= f.submit "Add to Order", :class => "btn btn-sm btn-primary", :disabled => @items.empty? %>
</div>
<hr/>
<% end %>
<div>
  <h3>Attendees</h3>
  
  <ul id="eventers-list">
  <% @eventers.each do |eventer| %>
    <li id="eventer-<%= eventer.user_id %>"><%= eventer.user.name %></li>
  <% end %>
  </ul>
  <%=
    btnclass = (@userevent && @userevent.event_status == "Going") ? "" : " hidden"
    link_to(
      (@event.date.to_date < Date.today)? "I didn't go" : "I'm not going",
      eventer_path(:event_id=> @event.id, :user_id => current_user.id),
      :method => :put,
      :remote => true,
      :class => "btn btn-danger btn-eventer" + btnclass,
      :id => "eventer-notgoing"
    )
  %>

  <%=
    btnclass = (@userevent && @userevent.event_status == "Going") ? " hidden" : ""
    link_to(
      (@event.date.to_date < Date.today)? "I went" : "I'm going",
      eventer_path(:event_id=> @event.id, :user_id => current_user.id),
      :method => :put,
      :remote => true,
      :class => "btn btn-primary btn-eventer"  + btnclass,
      :id => "eventer-going"
    )
  %>
  
</div>

