<div>Event: <%= @event.name %></div>
<div><%= "Order Exists" if @order_status %></div>
<table>
<% @items.each do |item| %>
<tr>
<td><%= item.name %></td>
<td><%= item.description %></td>
<td><%= item.price %></td>
</tr>
<% end %>
</table>