<div class="item-order row">
  <div class="col-sm-1 hidden-xs">
    <%= toggle_purchase_button orderitem %>
  </div>  
  <div class="col-sm-3"><%= link_to get_user_name(orderitem.order.user_id), order_path(orderitem.order.id) %></div>
  <div class="col-sm-1">x <%= orderitem.quantity %></div>
  <div class="col-xs-6"><%= orderitem.notes %></div>
  <div class="col-xs-1 visible-xs">
    <%= toggle_purchase_button orderitem %>
  </div>  
</div>