<tr class="agg-item">
  <td></td>
  <td><%= link_to get_user_name(orderitem.order.user_id), order_path(orderitem.order.id) %></td>
  <td><%= orderitem.notes %></td>
  <td></td>
  <td><%= orderitem.quantity %></td>
  <td></td>
  <td>
    <% if orderitem.ispurchased %>
    <%= link_to orderitem_path(orderitem.id, :toggle => "false"), :method => :put, :class => "btn btn-sm btn-primary" do %><span class="glyphicon glyphicon-ok"/><% end %>
    <% else %>
    <%= link_to orderitem_path(orderitem.id, :toggle => "true"), :method => :put, :class => "btn btn-sm btn-danger" do %><span class="glyphicon glyphicon-plus"/><% end %>
    <% end %>
  </td>
</tr>