<tr>
  <td><%= orderitem.item.name %></td>
  <td><%= orderitem.item.description %></td>
  <td><%= orderitem.notes %></td>
  <td><%= orderitem.item.price %></td>
  <td><%= orderitem.quantity %></td>
  <td><%= orderitem.quantity * orderitem.item.price %></td>
  <td>
    <%= toggle_purchase_button orderitem %>
  </td>
</tr>