<tr>
  <td><%= orderitem.item.name %></td>
  <td><%= orderitem.item.description %></td>
  <td><%= orderitem.notes %></td>
  <td><%= orderitem.item.price %></td>
  <td><%= orderitem.quantity %></td>
  <td><%= orderitem.quantity * orderitem.item.price %></td>
  <td>
    <% if orderitem.ispurchased %>
    <%= link_to orderitem_path(orderitem.id, :toggle => "false"), :method => :put, :class => "btn btn-sm btn-primary" do %><span class="glyphicon glyphicon-ok"/><% end %>
    <% else %>
    <%= link_to orderitem_path(orderitem.id, :toggle => "true"), :method => :put, :class => "btn btn-sm btn-danger" do %><span class="glyphicon glyphicon-plus"/><% end %>
    <% end %>
  </td>
</tr>