<h3>All Orders</h3>
<table class="table">
<tr>
  <th>Order Number</th>
  <th>Who</th>
  <th>Event Name</th>
  <th>Price</th>
  <th></th>
</tr>
<% @orders.each do |order| %>
<tr>
  <td><%= order.id %></td>
  <td><%= link_to get_user_name(order.user_id), order_list_user_path(order.user_id) %></td>
  <td><%= get_event_name(order.event_id) %></td>
  <td><%= get_order_total(order.id) %></td>
  <td><%= link_to "View Order", order_path(order.id), :class => "btn-sm btn-primary" %></td>
</tr>
<% end %>
</table>