<tr class="active agg-main-item">
  <td data-title="Item Name"><%= item.name %></td>
  <td data-title="Description"><%= item.description %>&nbsp</td>
  <td class="hidden-xs"></td>
  <td data-title="Price"><%= item.price %></td>
  <td data-title="Quantity"><%= quantity %></td>
  <td data-title="Total"><%= quantity * item.price %></td>
  <td class="hidden-xs"></td>
</tr>