<tr class="active">
  <td><%= item.name %></td>
  <td><%= item.description %></td>
  <td></td>
  <td><%= item.price %></td>
  <td><%= item.orderitems.sum(:quantity) %></td>
  <td><%= item.orderitems.sum(:quantity) * item.price %></td>
  <td></td>
</tr>