<tr class="active">
  <td><%= item.name %></td>
  <td><%= item.description %></td>
  <td></td>
  <td><%= item.price %></td>
  <td><%= quantity %></td>
  <td><%= quantity * item.price %></td>
  <td></td>
</tr>